* {
    box-sizing: border-box;
}

body {
    /* background: linear-gradient(180deg, #000000, #000000, #0e3446); */
    background-color: #000;
    background-size: 200% 200%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    /* animation: gradient 5s ease infinite; */
}

@keyframes shake {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(-10deg);

    }

    50% {
        transform: rotate(10deg);

    }

    75% {
        transform: rotate(-10deg);

    }

    100% {
        transform: rotate(0deg);

    }

}

/*///////////////////////////////////////////*/
.homeLink {
    margin: 10px;
}

.svgIcon {
    fill: #fff;
    transition: 300ms linear;

}

.homeLink:hover .svgIcon {
    fill: #2a9a9f;
    animation: shake 300ms linear;
}


.arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-left: none;
    border-top: none;
    border-right: 2px #fff solid;
    border-bottom: 2px #fff solid;
    cursor: pointer;
}

.previous {
    transform: rotate(135deg);
    position: absolute;
    top: 50%;
    left: 5%;
}

.next {
    transform: rotate(-45deg);
    position: absolute;
    top: 50%;
    right: 5%;
}

.subArrow {
    visibility: hidden;
    width: 20px;
    height: 20px;
    border-left: none;
    border-top: none;
    border-right: 1px #fff solid;
    border-bottom: 1px #fff solid;
}

.arrow:hover .subArrow {
    visibility: visible;
    animation: arrow 2000ms infinite;
}

@keyframes arrow {
    0% {
        opacity: 1;
        transform: translate(-10px, -10px);
    }

    100% {
        opacity: 0;
        transform: translate(10px, 10px)
    }

}

/* /////////////////////////////////////////////////////// */


.title {
    font-size: 3em;
    text-align: center;
    text-transform: uppercase;
    color: antiquewhite;
    background: linear-gradient(45deg, red, blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    cursor: grab;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.square {
    width: 20px;
    height: 20px;
    background: #1d1d1d;
    opacity: 0.8;
    margin: 2px;
    box-shadow: 0 0 2px #000;
    transition: 1500ms ease;
    border-radius: 50%;
    cursor: grab;
}

.square:hover {
    transition-duration: 0s;
}

@keyframes gradient {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 50% 100%;
    }

    100% {
        background-position: 0 50%;
    }
}