@import url("https://fonts.googleapis.com/css?family=Khula&display=swap");

* {
    box-sizing: border-box;
}

body {
    color: #fff;
    font-family: "Khula", sans-serif;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    text-align: center;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #16d9e3;
}

.start {
    font-size: 1.5rem;
}

h1 {
    line-height: 1.4;
    font-size: 4rem;
}

@keyframes shake {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(-10deg);

    }

    50% {
        transform: rotate(10deg);

    }

    75% {
        transform: rotate(-10deg);

    }

    100% {
        transform: rotate(0deg);

    }

}

/*///////////////////////////////////////////*/

.homeLink {
    position: absolute;
    top: 1%;
    left: 48%;
    margin: 10px;
}

.svgIcon {
    fill: #fff;
    transition: 300ms linear;

}

.homeLink:hover .svgIcon {
    fill: #2a9a9f;
    animation: shake 300ms linear;
}

.arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-left: none;
    border-top: none;
    border-right: 2px #fff solid;
    border-bottom: 2px #fff solid;
    cursor: pointer;
}

.previous {
    transform: rotate(135deg);
    position: absolute;
    top: 50%;
    left: 5%;
}

.next {
    transform: rotate(-45deg);
    position: absolute;
    top: 50%;
    right: 5%;
}

.subArrow {
    visibility: hidden;
    width: 20px;
    height: 20px;
    border-left: none;
    border-top: none;
    border-right: 1px #fff solid;
    border-bottom: 1px #fff solid;
}

.arrow:hover .subArrow {
    visibility: visible;
    animation: arrow 2000ms infinite;
}

@keyframes arrow {
    0% {
        opacity: 1;
        transform: translate(-10px, -10px);
    }

    100% {
        opacity: 0;
        transform: translate(10px, 10px)
    }

}

/* /////////////////////////////////////////////////////// */

.screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    transition: margin 0.5s ease-out;
    background: linear-gradient(90deg, #29323c 0%, #485563 100%);
}

.screen.up {
    margin-top: -100vh;
}

.time-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.time-list li {
    margin: 10px;
}

.time-btn {
    background-color: transparent;
    border: 2px solid #c0c0c0;
    color: #fff;
    cursor: pointer;
    font-family: inherit;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
}

.reset-btn {
    background-color: transparent;
    border: 2px solid #c0c0c0;
    color: #fff;
    cursor: pointer;
    font-family: inherit;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    margin-top: 20px;
}

.time-btn:hover {
    border: 2px solid #16d9e3;
    color: #16d9e3;
}

.hide {
    opacity: 0;
}

.primary {
    color: #16d9e3;
}

.board {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 500px;
    height: 500px;
    background: linear-gradient(118.38deg, #29323c -4.6%, #485563 200.44%);
    box-shadow: -8px -8px 20px #2a333d, 10px 7px 20px #475462;
    border-radius: 30px;
    overflow: hidden;
}

.circle {
    /* background: linear-gradient(90deg, #16d9e3 0%, #30c7ec 47%, #46aef7 100%); */
    position: absolute;
    border-radius: 50%;
    cursor: pointer;
}